<div class="row">


    <div class="card">
        <div class="card-body">
            <%= simple_form_for @author do |f| %>
                <%= f.input :name %>
                <%= f.fields_for :books do |b| %>
                <%# <div id="select"><fieldset data-fields="<%= b.index%> 
                    <%#= b.input :title %>
                    <%= b.input :title, wrapper: :dynamic_input%>
                     <!-- /initializers/simple_form_bootstrap/ config.wrappers :dynamic-->   
                <% end %>
                <%# </fieldset></div> %>      
                <%= f.button :submit, 'Create', class:"btn btn-primary" %>
            <% end%>
            <button id="addBook" class="btn btn-success">AddBook</button>

        </div>
    </div>

</div>